<header class="top-bar">
  <span class="brand">{{ 'common.appName' | translate }}</span>
  <div class="actions">
    <app-language-toggle />
    <app-theme-toggle />
    @if (auth.currentUser(); as user) {
      <span class="user-avatar">
        @if (user.avatarUrl) {
          <img [src]="user.avatarUrl" [alt]="user.fullName" />
        } @else {
          <app-icon name="user" />
        }
      </span>
      <span class="user-name">{{ user.fullName }}</span>
    }
    <button
      type="button"
      class="logout-button"
      (click)="signOut.emit()"
      [attr.aria-label]="'common.logout' | translate"
    >
      <app-icon name="logout" />
    </button>
  </div>
</header>
